{% extends 'base.html.twig'%}
{% block title 'Agence lorem ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel efficitur erat. Proin ligula dolor, fringilla non ullamcorper ac, varius eget lacus. Suspendisse mattis augue porttitor turpis pellentesque pellentesque. Suspendisse euismod nibh in vulputate tempor. Cras semper tincidunt lorem quis maximus. Pellentesque dapibus magna tincidunt tristique efficitur. Donec rutrum nunc ante. Proin bibendum id massa sed bibendum. Praesent vestibulum tellus nec posuere maximus. Suspendisse potenti. Donec volutpat, odio sed efficitur consectetur, lorem nulla porttitor est, ut eleifend tellus turpis nec lorem. Praesent rutrum laoreet porta. Vestibulum a dolor id nisi venenatis maximus ac at lectus.</p>
    </div>
    <div class="container">

    </div>
{% endblock %}